<style>
body{
    padding-top: 150px;
}
.mydiv {
        border: 2px solid black;
    margin: 10px;
    padding: 30px;
    width: 50%;
    align-content: centre;
    left:20%;
    right: 10%;
    position: absolute;
   
    border-radius: 25px; 
}
</style>